Steps
- clean up ozone DataFrame
- clean up asthma DataFrame
- merge ozone + asthma
- graph per year (2011-2016)
- **TODO** - analyze demographics (~~adults vs children~~, races) -> ~~make subplot comparing adults vs children for each year~~

In [1]:
%matplotlib inline
import pandas as pd

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import datetime
import numpy as np
from scipy.stats import linregress, stats
from textwrap import wrap

In [2]:
xls = pd.ExcelFile('Resources/CA-daily_O3_ppb_2010-2016_Ruby.xlsx', )
ozone_2010 = pd.read_excel(xls, '2010', encoding='utf8')
ozone_2011 = pd.read_excel(xls, '2011', encoding='utf8')
ozone_2012 = pd.read_excel(xls, '2012', encoding='utf8')
ozone_2013 = pd.read_excel(xls, '2013', encoding='utf8')
ozone_2014 = pd.read_excel(xls, '2014', encoding='utf8')
ozone_2015 = pd.read_excel(xls, '2015', encoding='utf8')
ozone_2016 = pd.read_excel(xls, '2016', encoding='utf8')
ozone_2010.head(10)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,15,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
1,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,17,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
2,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,17,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
3,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,13,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
4,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,8,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
5,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,6,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
6,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,4,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
7,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,2,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
8,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,5,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473
9,6,1,7,44201,1,37.687526,-121.784217,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,8,NaN,-,Livermore,793 Rincon Ave.,California,Alameda,Livermore,"San Francisco-Oakland-Hayward, CA",42473

In [3]:
ozone_2010.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'O3_ppb', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [4]:
# remove extraneous columns from every df
sheets = [ozone_2010, ozone_2011, ozone_2012, ozone_2013, ozone_2014, ozone_2015, ozone_2016]
for df in sheets:
    df.drop(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'City Name',
       'CBSA Name', 'Date of Last Change'], axis=1, inplace=True)
ozone_2010.head()

,Date Local,O3_ppb,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,County Name
0,2010-01-01,7.632,0.007632,0.018,10,15,Alameda
1,2010-01-02,11.958,0.011958,0.020,11,17,Alameda
2,2010-01-03,14.458,0.014458,0.020,9,17,Alameda
3,2010-01-04,7.958,0.007958,0.015,9,13,Alameda
4,2010-01-05,3.667,0.003667,0.010,9,8,Alameda

In [5]:
for df in sheets:
    df['Date Local'] = pd.to_datetime(df['Date Local'], format='%Y-%m-%d')
    df['Year'] = pd.DatetimeIndex(df['Date Local']).year

In [6]:
ozone_2015.head()

,Date Local,Unnamed: 16,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,County Name,Year
0,2015-01-01,11.176,0.011176,0.025,10,23,Alameda,2015
1,2015-01-02,11.588,0.011588,0.027,10,25,Alameda,2015
2,2015-01-03,9.176,0.009176,0.021,9,19,Alameda,2015
3,2015-01-04,14.235,0.014235,0.027,11,25,Alameda,2015
4,2015-01-05,13.765,0.013765,0.030,8,28,Alameda,2015

In [7]:
all_ozone = pd.concat(sheets, sort=False)
all_ozone.head()

,Date Local,O3_ppb,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,County Name,Year,Unnamed: 16
0,2010-01-01,7.632,0.007632,0.018,10,15,Alameda,2010,NaN
1,2010-01-02,11.958,0.011958,0.020,11,17,Alameda,2010,NaN
2,2010-01-03,14.458,0.014458,0.020,9,17,Alameda,2010,NaN
3,2010-01-04,7.958,0.007958,0.015,9,13,Alameda,2010,NaN
4,2010-01-05,3.667,0.003667,0.010,9,8,Alameda,2010,NaN

In [8]:
#del all_ozone['Unnamed: 16']
all_ozone.isnull().sum()

Date Local              0
O3_ppb              62985
Arithmetic Mean         0
1st Max Value           0
1st Max Hour            0
AQI                     0
County Name             0
Year                    0
Unnamed: 16        376898
dtype: int64

In [11]:
#all_ozone_conc.dropna()
all_ozone1 =all_ozone.fillna(0)
all_ozone1.head()

,Date Local,O3_ppb,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,County Name,Year,Unnamed: 16
0,2010-01-01,7.632,0.007632,0.018,10,15,Alameda,2010,0.0
1,2010-01-02,11.958,0.011958,0.020,11,17,Alameda,2010,0.0
2,2010-01-03,14.458,0.014458,0.020,9,17,Alameda,2010,0.0
3,2010-01-04,7.958,0.007958,0.015,9,13,Alameda,2010,0.0
4,2010-01-05,3.667,0.003667,0.010,9,8,Alameda,2010,0.0

In [12]:
#use double square bracket when a subset is used from orignal data set
all_ozone2 = all_ozone1[['County Name', 'Arithmetic Mean', '1st Max Value', '1st Max Hour', 'Year','Date Local']]
all_ozone3 = all_ozone2.rename(columns={'County Name': 'County', 'Arithmetic Mean': 'Arithmetic_Mean_ppm', '1st Max Value': 'First_Max_Value', '1st Max Hour':'First_Max_Hour', 'Date Local': 'Date_Local'})
#all_RH2.columns=[c.replace(' ','_') for c in all_RH2.columns]
all_ozone3.head()

,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Year,Date_Local
0,Alameda,0.007632,0.018,10,2010,2010-01-01
1,Alameda,0.011958,0.020,11,2010,2010-01-02
2,Alameda,0.014458,0.020,9,2010,2010-01-03
3,Alameda,0.007958,0.015,9,2010,2010-01-04
4,Alameda,0.003667,0.010,9,2010,2010-01-05

In [13]:
all_ozone4 =all_ozone3.query('(Arithmetic_Mean_ppm != 0)&(First_Max_Value != 0) & (First_Max_Hour != 0)')
all_ozone4.head()

,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Year,Date_Local
0,Alameda,0.007632,0.018,10,2010,2010-01-01
1,Alameda,0.011958,0.020,11,2010,2010-01-02
2,Alameda,0.014458,0.020,9,2010,2010-01-03
3,Alameda,0.007958,0.015,9,2010,2010-01-04
4,Alameda,0.003667,0.010,9,2010,2010-01-05

In [14]:
# create a new column in ppb by multiplying ppm by 1000 
all_ozone4['Arithmetic_Mean_ppb'] = all_ozone4['Arithmetic_Mean_ppm'] * 1000
# create new column for month by extracting from Date_local
all_ozone4['Month'] = pd.DatetimeIndex(all_ozone4['Date_Local']).month
all_ozone4.head()

C:\Users\shaheen\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shaheen\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Year,Date_Local,Arithmetic_Mean_ppb,Month
0,Alameda,0.007632,0.018,10,2010,2010-01-01,7.632,1
1,Alameda,0.011958,0.020,11,2010,2010-01-02,11.958,1
2,Alameda,0.014458,0.020,9,2010,2010-01-03,14.458,1
3,Alameda,0.007958,0.015,9,2010,2010-01-04,7.958,1
4,Alameda,0.003667,0.010,9,2010,2010-01-05,3.667,1

In [15]:
Bins=[0,10,20,40,60]
Group_name=['Low_O3', 'Fair_O3','High_O3','Extreme_O3']

In [16]:
#the binning is based on Arithmetic mean
all_ozone4["ozone_Levels"]=pd.cut(all_ozone4["Arithmetic_Mean_ppb"],Bins,labels=Group_name)
all_ozone4.head()

C:\Users\shaheen\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Year,Date_Local,Arithmetic_Mean_ppb,Month,ozone_Levels
0,Alameda,0.007632,0.018,10,2010,2010-01-01,7.632,1,Low_O3
1,Alameda,0.011958,0.020,11,2010,2010-01-02,11.958,1,Fair_O3
2,Alameda,0.014458,0.020,9,2010,2010-01-03,14.458,1,Fair_O3
3,Alameda,0.007958,0.015,9,2010,2010-01-04,7.958,1,Low_O3
4,Alameda,0.003667,0.010,9,2010,2010-01-05,3.667,1,Low_O3

In [17]:
#Save file to output folder as Binned O3
all_ozone4.to_csv("Output\Binned_ozone.csv" )

In [1]:
ozone_group5 = pd.DataFrame(all_ozone4.groupby([ "Month","Year","County"]).mean()["Arithmetic_Mean_ppb"])
ozone_group5=ozone_group5.unstack(level=0)
ozone_group5

NameError: name 'pd' is not defined

In [45]:
ozone_group6 = pd.DataFrame(all_ozone4.groupby(["Month", "Year","County"]).sem()["Arithmetic_Mean_ppb"])
#ozone_group6=ozone_group6.unstack(level=0)
ozone_group6

                     Arithmetic_Mean_ppb                                \
Month                                 1         2         3         4
Year County
2010 Alameda                    0.929453  0.606605  0.626263  0.579764
     Amador                     1.748704  1.241986  0.892704  0.993209
     Butte                      1.912356  1.428917  1.106920  0.964380
     Calaveras                  2.024198  1.291403  0.802963  1.000342
     Colusa                     1.799335  0.743482  0.832159  0.646143
     Contra Costa               1.368566  0.785304  0.721374  0.633088
     El Dorado                  1.801160  0.837179  1.035446  1.177034
     Fresno                     0.649382  0.495816  0.462540  0.440806
     Glenn                      2.063536  0.988451  0.946833  0.772457
     Humboldt                   2.639752  1.543668  1.401876  1.074863
     Imperial                   0.463858  0.588946  0.615755  0.621103
     Inyo                       0.839887  0.401896  0.516798  1.137901
     Kern                       0.667025  0.472160  0.453260  0.424532
     Kings                      1.608625  0.894966  0.700465  0.718989
     Lake                       1.998597  1.036298  0.826260  0.982970
     Los Angeles                0.362113  0.397076  0.361614  0.404987
     Madera                     1.644774  1.185759  0.950425  0.902890
     Marin                      1.951666  1.001364  0.922531  0.972331
     Mariposa                   0.741101  0.857408  0.657386  1.770583
     Mendocino                  1.751187  0.935168  0.935703  1.004052
     Merced                     1.779312  1.165015  1.118931  0.923783
     Monterey                   0.925785  0.615819  0.553500  0.575279
     Napa                       1.705441  0.895852  1.058000  1.075924
     Nevada                     1.289145  1.117750  1.309080  1.078999
     Orange                     0.688060  0.771742  0.579000  0.589790
     Placer                     1.035003  0.545552  0.586557  0.610205
     Riverside                  0.570308  0.561949  0.546048  0.597266
     Sacramento                 0.785044  0.474594  0.470545  0.357511
     San Benito                 1.309499  0.717842  0.570474  0.688720
     San Bernardino             0.642165  0.614913  0.539103  0.560396
...                                  ...       ...       ...       ...
2016 Mendocino                  1.495480  1.193674  1.163624  1.352198
     Merced                     1.147665  1.109501  0.752856  1.063685
     Monterey                   0.596398  0.469092  0.580973  0.532982
     Napa                       0.985725  0.968011  1.144287  1.049982
     Nevada                     0.745719  0.845388  0.925223  1.665903
     Orange                     0.755889  0.921551  0.773408  0.681517
     Placer                     0.647238  0.607933  0.479443  0.655661
     Riverside                  0.476730  0.481639  0.472490  0.477082
     Sacramento                 0.434318  0.420399  0.384448  0.417843
     San Benito                 0.775827  0.525368  0.638014  0.710450
     San Bernardino             0.513619  0.547075  0.497374  0.562774
     San Diego                  0.519871  0.685919  0.466866  0.549824
     San Francisco              1.636178  1.429164  1.233884  0.974571
     San Joaquin                1.083813  1.122255  1.054288  1.090087
     San Luis Obispo            0.509994  0.568080  0.444648  0.522222
     San Mateo                  1.523625  1.266504  1.181757  1.073177
     Santa Barbara              0.413461  0.433583  0.347417  0.446904
     Santa Clara                1.518456  1.292305  1.303506  0.549929
     Santa Cruz                 1.388218  0.887841  1.053189  1.123299
     Shasta                     0.965829  1.149125  0.711872  0.771540
     Siskiyou                   1.181291  1.228144  1.279519  0.597648
     Solano                     0.873527  0.823670  0.830345  0.663993
     Sonoma                     0.935966  0.860148  0.830557  0.883646
     Stanislaus                 0.713012  0.743725  0.708358  0.911786
     Sutter                     1.172226  0.974052  1.122533  1.542364
     Tehama                     1.157498  0.953225  1.192891  1.394652
     Tulare                     0.793230  0.674773  0.557301  0.776260
     Tuolumne                   1.334725  1.295428  1.302973  1.414502
     Ventura                    0.566117  0.536699  0.532208  0.636960
     Yolo                       0.713110  0.677707  0.716013  0.845249

                                                                        \
Month                       5         6         7         8         9
Year County
2010 Alameda          0.489100  0.451624  0.398439  0.533604  0.708454
     Amador           0.603152  1.041686  0.880063  1.192258  1.831702
     Butte            0.987793  1.111007  1.136157  1.378001  1.852330
     Calaveras        0.604049  1.332930  0.827591  1.468494  2.292578
     Colusa           0.779683  1.048210  0.564919  0.778740  1.690997
     Contra Costa     0.665159  0.604111  0.448842  0.762369  1.026714
     El Dorado        1.045123  1.104362  0.803718  1.005825  1.177642
     Fresno           0.416435  0.594762  0.442249  0.594822  0.817507
     Glenn            0.749209  0.951390  0.376189  0.722041  1.261288
     Humboldt         0.718348  0.911573  0.579099  0.577975  1.010495
     Imperial         0.714348  0.900173  0.815526  0.943158  0.717450
     Inyo             0.908289  1.566451  1.145265  1.498608  1.053751
     Kern             0.467000  0.626344  0.506791  0.617678  0.916166
     Kings            0.761655  1.000619  0.763741  0.955972  1.165971
     Lake             0.912410  0.866121  0.884089  0.974645  1.711067
     Los Angeles      0.431484  0.426522  0.497199  0.466524  0.498647
     Madera           0.751418  1.029780  0.663364  0.875637  1.127334
     Marin            0.776386  0.733877  0.703949  0.936053  1.106314
     Mariposa         0.985624  1.212766  0.941194  0.993968  1.262665
     Mendocino        0.755095  0.690956  0.529406  0.827102  1.137898
     Merced           0.831825  1.061637  0.953693  1.354126  1.713041
     Monterey         0.536367  0.539831  0.467483  0.640263  0.990606
     Napa             0.853599  0.724856  0.596530  0.961927  1.298727
     Nevada           1.063068  1.290027  1.552077  1.619259  1.699399
     Orange           0.674651  0.372339  0.451968  0.449036  0.629295
     Placer           0.623547  0.826564  0.677509  1.000682  1.233625
     Riverside        0.683224  0.736282  0.689642  0.611790  0.623318
     Sacramento       0.342297  0.486078  0.413031  0.582510  0.892896
     San Benito       0.586173  0.687992  0.463596  0.940684  1.576596
     San Bernardino   0.554987  0.704758  0.739272  0.663402  0.710449
...                        ...       ...       ...       ...       ...
2016 Mendocino        1.232701  0.651479  0.721487  0.927921  0.774361
     Merced           1.384259  1.149022  1.550174  1.534038  1.425362
     Monterey         0.471048  0.453537  0.466038  0.522327  0.609468
     Napa             0.988212  0.721961  0.627620  0.592225  0.804915
     Nevada           1.859465  1.925835  2.418729  1.373145  1.461823
     Orange           0.527349  0.608076  0.576495  0.483487  0.621574
     Placer           0.631273  0.639149  0.810133  0.504886  0.650287
     Riverside        0.397187  0.571068  0.554057  0.586395  0.584728
     Sacramento       0.533259  0.531560  0.647168  0.502776  0.653968
     San Benito       0.667404  1.154622  1.205524  1.108331  1.031918
     San Bernardino   0.466626  0.629838  0.598713  0.572243  0.531828
     San Diego        0.399448  0.583578  0.534000  0.470703  0.510219
     San Francisco    0.807078  0.762594  0.608283  0.916722  1.186124
     San Joaquin      1.217756  1.338920  1.278650  1.120684  1.285657
     San Luis Obispo  0.455506  0.695148  0.746684  0.727719  0.598379
     San Mateo        0.853912  0.942384  0.571901  0.751089  1.085690
     Santa Barbara    0.279520  0.306588  0.304365  0.246637  0.417950
     Santa Clara      0.475783  0.507674  0.486915  0.376021  0.632511
     Santa Cruz       0.916516  0.630885  0.647409  0.607375  1.147850
     Shasta           0.918857  0.638392  0.710584  0.659251  0.577957
     Siskiyou         0.788583  0.816440  1.165172  0.678176  0.828074
     Solano           0.620785  0.553275  0.676792  0.561210  0.561675
     Sonoma           0.748374  0.760276  0.592626  0.568303  0.865441
     Stanislaus       0.887097  0.877579  1.216030  0.954938  0.930433
     Sutter           1.527144  1.628748  1.767551  1.835709  1.798010
     Tehama           1.430971  1.399812  1.815891  1.792925  1.774872
     Tulare           0.791190  0.891820  1.007625  0.899119  0.904796
     Tuolumne         1.762690  1.439881  2.126236  1.543197  1.218222
     Ventura          0.460959  0.634566  0.507906  0.415319  0.466616
     Yolo             0.852074  0.679028  0.810063  0.595559  0.737827


Month                       10        11        12
Year County
2010 Alameda          0.550105  0.851735  0.769268
     Amador           1.171915  1.310146  1.600923
     Butte            1.587992  1.614643  1.703517
     Calaveras        1.506778  1.058514  1.460135
     Colusa           0.911522  1.354225  1.464652
     Contra Costa     0.636475  0.802227  0.764371
     El Dorado        0.862473  0.868094  1.535137
     Fresno           0.594167  0.538144  0.619443
     Glenn            0.946247  1.270968  1.420130
     Humboldt         1.162070  1.276664  2.126122
     Imperial         0.658999  0.631671  0.663416
     Inyo             0.734525  0.750609  0.934640
     Kern             0.760318  0.725713  0.621980
     Kings            1.039679  0.856600  0.921184
     Lake             1.088206  1.196619  1.669486
     Los Angeles      0.393744  0.434434  0.491882
     Madera           0.830857  0.906731  1.038430
     Marin            0.897508  1.099661  1.518289
     Mariposa         1.288614  1.167943  0.919288
     Mendocino        0.654688  1.277364  1.527219
     Merced           1.405524  1.150193  1.436835
     Monterey         0.658937  0.611183  0.797884
     Napa             1.070874  1.339144  1.172367
     Nevada           1.533932  1.573817  1.467179
     Orange           0.744748  0.685845  0.666540
     Placer           0.942071  0.664135  0.927124
     Riverside        0.469519  0.535173  0.505314
     Sacramento       0.592331  0.538886  0.619629
     San Benito       0.861766  0.620306  1.227026
     San Bernardino   0.558263  0.590831  0.654114
...                        ...       ...       ...
2016 Mendocino        1.074809  1.649846  1.293198
     Merced           1.480932  1.284558  0.947240
     Monterey         0.661761  0.472810  0.508843
     Napa             1.176984  0.825283  1.185826
     Nevada           1.866126  1.212024  1.009686
     Orange           0.841457  0.815126  0.861477
     Placer           0.697434  0.706583  0.670232
     Riverside        0.575325  0.533120  0.513244
     Sacramento       0.632684  0.521647  0.426869
     San Benito       0.942425  0.740470  0.655415
     San Bernardino   0.620699  0.541715  0.544964
     San Diego        0.556901  0.550146  0.530581
     San Francisco    1.547757  1.480558  1.454562
     San Joaquin      1.422760  1.215251  1.147536
     San Luis Obispo  0.633295  0.583559  0.493584
     San Mateo        1.359628  1.490510  1.181150
     Santa Barbara    0.478868  0.414551  0.401515
     Santa Clara      0.617393  0.568486  1.109466
     Santa Cruz       1.410280  1.103346  0.865550
     Shasta           0.825431  0.960373  1.060056
     Siskiyou         1.048940  1.085123  0.754794
     Solano           0.829571  0.664748  0.791766
     Sonoma           0.977273  0.819315  0.911799
     Stanislaus       1.149683  0.741100  0.636630
     Sutter           1.825080  1.173383  1.081940
     Tehama           1.563714  1.171423  1.239667
     Tulare           0.967357  0.992963  0.714800
     Tuolumne         1.669024  1.246029  1.116119
     Ventura          0.649051  0.488337  0.717850
     Yolo             0.927669  0.833432  0.746671

[343 rows x 12 columns]

In [53]:
Bins=[0,10,20,40,60]
Group_name=['Low_O3', 'Fair_O3','High_O3','Extreme_O3']

In [54]:
#the binning is based on Arithmetic mean_ppb
#binning cannot be done on 2D array
ozone_group5["ozone_Levels"]=pd.cut(ozone_group5["Arithmetic_Mean_ppb"],Bins,labels=Group_name)
ozone.group5

NameError: name 'ozone' is not defined

In [42]:
# choose only the relevant columns and groupby county name and month for Inyo & Mendocino
#mm_mean_df = all_ozone4.loc[:, ['County','Month', 'Arithmetic_ Mean_ppb', 'Date_Local']]
#mm_df = pd.DataFrame(mm_mean_df.groupby(['County', 'Month']).mean())
#mm_df
# Taking mean of all RH for plot with error bar
O3_group1a = pd.DataFrame(all_ozone4.groupby(['Year',, 'County']).mean()["Arithmetic_Mean_ppb"]).reset_index()
O3_group1a

      Year  Month           County  Arithmetic_Mean_ppb
0     2010      1          Alameda            11.975600
1     2010      1           Amador            12.918100
2     2010      1            Butte            19.808340
3     2010      1        Calaveras            16.730643
4     2010      1           Colusa            16.335069
5     2010      1     Contra Costa            14.232883
6     2010      1        El Dorado            28.045500
7     2010      1           Fresno            13.055743
8     2010      1            Glenn            17.666179
9     2010      1         Humboldt            18.502600
10    2010      1         Imperial            17.852920
11    2010      1             Inyo            32.367000
12    2010      1             Kern            17.695793
13    2010      1            Kings            15.239667
14    2010      1             Lake            17.837690
15    2010      1      Los Angeles            13.163320
16    2010      1           Madera            14.430968
17    2010      1            Marin            10.703148
18    2010      1         Mariposa            43.409917
19    2010      1        Mendocino             7.872444
20    2010      1           Merced            14.399345
21    2010      1         Monterey            19.223153
22    2010      1             Napa            12.423138
23    2010      1           Nevada            33.107909
24    2010      1           Orange            12.788695
25    2010      1           Placer            17.693100
26    2010      1        Riverside            20.517339
27    2010      1       Sacramento            12.738209
28    2010      1       San Benito            22.011172
29    2010      1   San Bernardino            21.986221
...    ...    ...              ...                  ...
4076  2016     12        Mendocino            13.378968
4077  2016     12           Merced            14.268129
4078  2016     12         Monterey            19.494462
4079  2016     12             Napa            13.790613
4080  2016     12           Nevada            31.339774
4081  2016     12           Orange            19.698211
4082  2016     12           Placer            19.355529
4083  2016     12        Riverside            27.354860
4084  2016     12       Sacramento            14.544124
4085  2016     12       San Benito            21.242887
4086  2016     12   San Bernardino            24.454855
4087  2016     12        San Diego            27.403870
4088  2016     12    San Francisco            16.146967
4089  2016     12      San Joaquin            15.794629
4090  2016     12  San Luis Obispo            23.604728
4091  2016     12        San Mateo            13.677000
4092  2016     12    Santa Barbara            25.389951
4093  2016     12      Santa Clara            12.869742
4094  2016     12       Santa Cruz            17.542548
4095  2016     12           Shasta            23.282958
4096  2016     12         Siskiyou            10.346419
4097  2016     12           Solano            16.096677
4098  2016     12           Sonoma            16.689065
4099  2016     12       Stanislaus            12.573355
4100  2016     12           Sutter            12.460516
4101  2016     12           Tehama            19.466000
4102  2016     12           Tulare            15.536204
4103  2016     12         Tuolumne            18.233742
4104  2016     12          Ventura            25.165484
4105  2016     12             Yolo            18.285548

[4106 rows x 4 columns]

In [20]:
#O3_group1b = pd.DataFrame(all_ozone4.groupby(['Month', 'County']))
O3_group1b=pd.DataFrame(all_ozone4.groupby(['Month', 'County']).sem()).reset_index()
O3_group1b.head()

,Month,County,Arithmetic_Mean_ppb,Arithmetic_Mean_ppm,Date_Local,First_Max_Hour,First_Max_Value,Year,ozone_Levels
0,1,Alameda,0.309066,0.000309,NaN,0.181730,0.000361,0.080305,NaN
1,1,Amador,0.480118,0.000480,NaN,0.240681,0.000538,0.138008,NaN
2,1,Butte,0.604074,0.000604,NaN,0.273281,0.000520,0.097079,NaN
3,1,Calaveras,0.497390,0.000497,NaN,0.215067,0.000539,0.136397,NaN
4,1,Colusa,0.485704,0.000486,NaN,0.259601,0.000522,0.137714,NaN

In [21]:
Bins=[0,10,20,40,60]
Group_name=['Low_O3', 'Fair_O3','High_O3','Extreme_O3']

In [22]:
#the binning is based on Arithmetic mean
O3_group1a["ozone_Levels"]=pd.cut(O3_group1a["Arithmetic_Mean_ppb"],Bins,labels=Group_name)
O3_group1a

,Month,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Year,Arithmetic_Mean_ppb,ozone_Levels
0,1,Alameda,0.012180,0.020610,11.173217,2013.074236,12.179793,Fair_O3
1,1,Amador,0.012994,0.023028,10.264151,2013.009434,12.993750,Fair_O3
2,1,Butte,0.021286,0.027624,12.727273,2013.162162,21.286088,High_O3
3,1,Calaveras,0.017844,0.026165,10.863208,2013.061321,17.844104,Fair_O3
4,1,Colusa,0.016898,0.024029,11.105263,2013.086124,16.897809,Fair_O3
5,1,Contra Costa,0.014469,0.023717,11.229199,2013.141287,14.468786,Fair_O3
6,1,El Dorado,0.029596,0.033775,13.815000,2013.215000,29.595975,High_O3
7,1,Fresno,0.015156,0.024661,10.389387,2013.076233,15.155596,Fair_O3
8,1,Glenn,0.018317,0.026817,10.932692,2013.100962,18.317125,Fair_O3
9,1,Humboldt,0.020641,0.025961,12.312155,2013.500000,20.640878,High_O3
10,1,Imperial,0.019109,0.032046,9.775204,2012.777929,19.109346,Fair_O3
11,1,Inyo,0.032620,0.035282,12.615789,2013.942105,32.619963,High_O3
12,1,Kern,0.020249,0.029284,10.206642,2013.099016,20.248802,High_O3
13,1,Kings,0.016996,0.025409,11.019886,2013.332386,16.995642,Fair_O3
14,1,Lake,0.021037,0.027816,10.566038,2013.042453,21.036811,High_O3
15,1,Los Angeles,0.015974,0.026582,10.451236,2012.937500,15.973846,Fair_O3
16,1,Madera,0.019517,0.027585,10.522678,2013.194384,19.516708,Fair_O3
17,1,Marin,0.012856,0.022418,11.144231,2013.105769,12.856447,Fair_O3
18,1,Mariposa,0.038955,0.042461,13.739726,2013.210046,38.954511,High_O3
19,1,Mendocino,0.010312,0.018539,10.483333,2013.088889,10.312217,Fair_O3
20,1,Merced,0.015672,0.023732,10.488038,2013.071770,15.672115,Fair_O3
21,1,Monterey,0.020814,0.029887,10.368504,2013.061417,20.814214,High_O3
22,1,Napa,0.012839,0.022471,10.842857,2013.019048,12.839467,Fair_O3
23,1,Nevada,0.032353,0.036937,15.116071,2012.977679,32.352826,High_O3
24,1,Orange,0.015439,0.026952,10.125587,2013.010563,15.439331,Fair_O3
25,1,Placer,0.018632,0.026351,10.795429,2013.459429,18.631699,Fair_O3
26,1,Riverside,0.023729,0.034400,10.129636,2013.104429,23.729261,High_O3
27,1,Sacramento,0.014161,0.022474,10.921238,2013.165963,14.161174,Fair_O3
28,1,San Benito,0.022804,0.031902,10.498829,2013.042155,22.804398,High_O3
29,1,San Bernardino,0.022775,0.032785,10.050347,2013.027344,22.775283,High_O3
...,...,...,...,...,...,...,...,...
558,12,Mendocino,0.012967,0.021732,11.287081,2013.086124,12.966837,Fair_O3
559,12,Merced,0.016088,0.024864,10.673913,2013.369565,16.087940,Fair_O3
560,12,Monterey,0.020023,0.029211,10.383540,2013.020186,20.023264,High_O3
561,12,Napa,0.014440,0.024528,11.117925,2013.061321,14.440321,Fair_O3
562,12,Nevada,0.031682,0.036214,14.939535,2012.972093,31.681809,High_O3
563,12,Orange,0.015911,0.026653,10.216057,2013.048406,15.910510,Fair_O3
564,12,Placer,0.020141,0.027557,10.962472,2013.427152,20.140911,High_O3
565,12,Riverside,0.023181,0.032689,10.179972,2013.119048,23.180891,High_O3
566,12,Sacramento,0.016286,0.024482,11.034037,2013.083730,16.286096,Fair_O3
567,12,San Benito,0.022541,0.031370,10.446301,2013.088305,22.541334,High_O3
568,12,San Bernardino,0.023286,0.032420,10.105877,2013.035436,23.286108,High_O3
569,12,San Diego,0.021605,0.031652,10.938069,2012.931694,21.604797,High_O3
570,12,San Francisco,0.014750,0.022345,11.490291,2013.106796,14.749670,Fair_O3
571,12,San Joaquin,0.017591,0.024192,10.902844,2013.071090,17.591192,Fair_O3
572,12,San Luis Obispo,0.023953,0.032452,10.975359,2013.020534,23.952588,High_O3
573,12,San Mateo,0.012797,0.021887,11.089202,2013.051643,12.796718,Fair_O3
574,12,Santa Barbara,0.027430,0.034551,10.595341,2013.052507,27.430447,High_O3
575,12,Santa Clara,0.014486,0.022891,11.299287,2012.199525,14.485912,Fair_O3
576,12,Santa Cruz,0.019016,0.028157,11.003021,2012.516616,19.016317,Fair_O3
577,12,Shasta,0.020627,0.026964,11.984596,2013.094994,20.626552,High_O3
578,12,Siskiyou,0.013506,0.022818,10.242991,2013.032710,13.506327,Fair_O3
579,12,Solano,0.015168,0.024837,11.462264,2013.058962,15.168474,Fair_O3
580,12,Sonoma,0.016779,0.024660,11.450262,2013.290576,16.778537,Fair_O3
581,12,Stanislaus,0.013463,0.021981,10.386946,2013.034965,13.462921,Fair_O3
582,12,Sutter,0.014501,0.022338,11.666667,2013.076190,14.501100,Fair_O3
583,12,Tehama,0.018390,0.025495,11.495098,2013.049020,18.389863,Fair_O3
584,12,Tulare,0.019469,0.027627,10.408392,2012.829371,19.468789,Fair_O3
585,12,Tuolumne,0.020375,0.030962,10.816901,2013.051643,20.375192,High_O3
586,12,Ventura,0.022926,0.033871,9.985520,2012.932127,22.925760,High_O3
587,12,Yolo,0.018138,0.026427,11.167453,2013.063679,18.138425,Fair_O3

In [23]:
ozone_group2a = pd.DataFrame(all_ozone4.groupby(['Year', 'County']).mean()).reset_index()
ozone_group2a.head()

,Year,County,Arithmetic_Mean_ppm,First_Max_Value,First_Max_Hour,Arithmetic_Mean_ppb,Month
0,2010,Alameda,0.019960,0.030123,11.060994,19.959679,6.348645
1,2010,Amador,0.025274,0.040220,10.867232,25.273709,6.500000
2,2010,Butte,0.033397,0.043148,11.823440,33.396957,6.529680
3,2010,Calaveras,0.029359,0.043851,10.988764,29.359500,6.589888
4,2010,Colusa,0.025722,0.038163,10.784884,25.721808,6.392442

In [24]:
ozone_group1b = pd.DataFrame(all_ozone4.groupby(['Year', 'County']).sem()).reset_index()
ozone_group1b.head()

,Year,County,Arithmetic_Mean_ppb,Arithmetic_Mean_ppm,Date_Local,First_Max_Hour,First_Max_Value,Month,ozone_Levels
0,2010,Alameda,0.226432,0.000226,NaN,0.109945,0.000299,0.092135,NaN
1,2010,Amador,0.562832,0.000563,NaN,0.153666,0.000761,0.182072,NaN
2,2010,Butte,0.516672,0.000517,NaN,0.156467,0.000550,0.128978,NaN
3,2010,Calaveras,0.617966,0.000618,NaN,0.136071,0.000789,0.180733,NaN
4,2010,Colusa,0.440091,0.000440,NaN,0.148674,0.000630,0.184352,NaN

In [ ]:
df.dtypes

In [ ]:
ozone_group2 = pd.DataFrame(all_ozone4.groupby(['Year', 'County']).max()).reset_index()
ozone_group2

In [26]:
ozone_group5 = pd.DataFrame(all_ozone4.groupby(["Year", "County"]).mean()["Arithmetic_Mean_ppb"]).reset_index()
#ozone_group5=ozone_group5.unstack(level=0)
ozone_group5

     Year           County  Arithmetic_Mean_ppb
0    2010          Alameda            19.959679
1    2010           Amador            25.273709
2    2010            Butte            33.396957
3    2010        Calaveras            29.359500
4    2010           Colusa            25.721808
5    2010     Contra Costa            24.069506
6    2010        El Dorado            40.384228
7    2010           Fresno            30.242493
8    2010            Glenn            27.325102
9    2010         Humboldt            22.453587
10   2010         Imperial            30.043078
11   2010             Inyo            43.892053
12   2010             Kern            35.139202
13   2010            Kings            31.736431
14   2010             Lake            26.730627
15   2010      Los Angeles            25.055025
16   2010           Madera            27.762636
17   2010            Marin            18.703902
18   2010         Mariposa            44.953841
19   2010        Mendocino            14.769563
20   2010           Merced            28.272044
21   2010         Monterey            24.627952
22   2010             Napa            23.251270
23   2010           Nevada            38.711326
24   2010           Orange            26.102794
25   2010           Placer            31.234186
26   2010        Riverside            33.661447
27   2010       Sacramento            25.414441
28   2010       San Benito            28.561590
29   2010   San Bernardino            36.683251
..    ...              ...                  ...
313  2016        Mendocino            22.765011
314  2016           Merced            31.869213
315  2016         Monterey            25.519740
316  2016             Napa            22.694197
317  2016           Nevada            46.106858
318  2016           Orange            30.510075
319  2016           Placer            35.625654
320  2016        Riverside            39.028192
321  2016       Sacramento            28.669315
322  2016       San Benito            28.987734
323  2016   San Bernardino            40.667936
324  2016        San Diego            35.967362
325  2016    San Francisco            23.068592
326  2016      San Joaquin            29.027655
327  2016  San Luis Obispo            31.413737
328  2016        San Mateo            21.849249
329  2016    Santa Barbara            30.737847
330  2016      Santa Clara            25.692316
331  2016       Santa Cruz            23.644778
332  2016           Shasta            30.418194
333  2016         Siskiyou            20.864424
334  2016           Solano            26.592784
335  2016           Sonoma            23.643828
336  2016       Stanislaus            29.183526
337  2016           Sutter            34.424153
338  2016           Tehama            39.765343
339  2016           Tulare            41.306245
340  2016         Tuolumne            38.066461
341  2016          Ventura            31.451104
342  2016             Yolo            26.591039

[343 rows x 3 columns]

In [ ]:
ozone_group5b = pd.DataFrame(all_ozone_conc.groupby(["Year", "County"]).sem()["Ozone (ppb)"])
ozone_group5b=ozone_group5b.unstack(level=0)
ozone_group5b

In [ ]:
group_tot = ozone_group(ozone_group['Ozone (ppb)', year])[County].mean().unstack()#.fillna(0)
group_tot
#ozone_group_tot = ozone_group.loc[ozone_group["Year"] == int(year), :]
#ozone_group_tot=ozone_group_tot.unstack(level=0)
#ozone_group_tot.head()
#pha_locfiltered = pha3.loc[pha3["NDC"] == 50111043302, :]
#pha_locfiltered.head()

In [ ]:
max_ppb = ozone_group['Ozone (ppb)'].max()
max_county = ozone_group.loc[ozone_group['Ozone (ppb)'] == max_ppb,:] 
#max_county = ozone_group.loc[ozone_group['county', 'Year'].mean () ['Ozone (ppb)',:] 
max_county

In [ ]:
min_county = ozone_group.loc[ozone_group['Ozone (ppb)'] == min_ppb,:] 
min_county

In [ ]:
ozone_group_2011 = ozone_group.loc[ozone_group["Year"] == 2011, :]
#ozone2011_mean_df = ozone_group_2011.unstack(level = 0)
ozone_group_2011

In [ ]:
max_ppb = ozone_group_2011['Ozone (ppb)'].max()
max_county_2011 = ozone_group_2011.loc[ozone_group_2011['Ozone (ppb)'] == max_ppb,:] 
max_county_2011

In [ ]:

min_county_2011 = ozone_group_2011.loc[ozone_group_2011['Ozone (ppb)'] == min_ppb,:] 
min_county_2011

In [ ]:
ozone_group_tot = pd.DataFrame(all_ozone_conc.merge(['Year', 'County']).sem ()['Ozone (ppb)']). reset_index()
ozone_group_tot

In [ ]:
# find the county with the highest ppb
max_ppb = ozone_group['Ozone (ppb)', 'Year'].max()
#max_county2011 = ozone_group.loc[ozone_group['Ozone (ppb)'] == max_ppb,:] & (ozone_group.loc['Year']==2011),:]
#max_county2011

In [ ]:
# find the county with the highest ppb
max_ppb = ozone_group['Ozone (ppb)'].max()
max_county = ozone_group.loc[ozone_group['Ozone (ppb)'] == max_ppb,:]
max_county

In [ ]:
min_ppb = ozone_group['Ozone (ppb)'].min()
min_county = ozone_group.loc[ozone_group['Ozone (ppb)'] == min_ppb,:]
min_county

In [ ]:
counties = ozone_group['County'].unique()
counties

In [ ]:
# ANOVA - Counties (Mean Ozone)
# ANOVA - Counties (Mean Ozone)
ozone_dict = {}
for county in counties:
    if county not in ozone_dict:
        ozone_dict[county] = list([ozone_group['County']==county,:]['Ozone (ppb)'])
        
print("ANOVA analysis comparing ozone concentration between two ounties in California ")
try:
    ozone_compare1 = input("Choose a county: ")
    ozone_compare2 = input("Choose another county: ")
    print(stats.f_oneway(ozone_dict[ozone_compare1], ozone_dict[ozone_compare2]))
    comparison_df = pd.DataFrame(oa_children_df.loc[(oa_children_df['County']==ozone_compare1) | (oa_children_df['County']==ozone_compare2),:])
    comparison_df.boxplot('Ozone (ppb)', by='County')
    plt.ylabel("Average Ozone (ppb) from 2011-2016")
except KeyError: 
    print("Could not find county")
#comparison_df.head()

In [ ]:
# ANOVA - Counties (Raw AQI + Raw Ozone) for chosen year

year = input("Choose a year: ")
ozone_yr = all_ozone.loc[all_ozone['Year']==int(year), :]
o3aqi_dict = {}
for county in counties:
    if county not in o3aqi_dict:
        o3aqi_dict[county] = {}
        o3aqi_dict[county]['Ozone'] = list(ozone_yr.loc[ozone_yr['County Name']==county,:]['O3_ppb'])
        o3aqi_dict[county]['AQI'] = list(ozone_yr.loc[ozone_yr['County Name']==county,:]['AQI'])
#print(o3aqi_dict)
        
try:
    parameter = input("Choose a parameter (AQI or Ozone): ")
    compare1 = input("Choose a county: ")
    compare2 = input("Choose another county: ")
    
    print(f"ANOVA analysis comparing {parameter} between {compare1} and {compare2} in California in {year}")

    print(stats.f_oneway(o3aqi_dict[compare1][parameter], o3aqi_dict[compare2][parameter]))
    comparison_df = pd.DataFrame(ozone_yr.loc[(ozone_yr['County Name']==compare1) | (ozone_yr['County Name']==compare2),:])
    if parameter == 'AQI':
        comparison_df.boxplot(parameter, by='County Name')
    if parameter == 'Ozone':
        comparison_df.boxplot('O3_ppb', by='County Name')
    plt.ylabel(f"{parameter} in {year}")
except KeyError: 
    print("Could not find county")

In [ ]:
asthma_df = pd.read_csv('Resources/asthma-ed-visits.csv')
asthma_df.head()

In [ ]:
asthma_df['Geography'].unique()

In [ ]:
# remove 'California' so only specific counties remain
asthma_df = asthma_df.loc[asthma_df['Geography'] != 'California', :]

In [ ]:
asthma_df['Geography'].unique()

In [ ]:
# check where null values exist
asthma_df.isnull().sum()

In [ ]:
race_asthma = asthma_df.loc[(asthma_df['Strata Name'] == 'African-American') | (asthma_df['Strata Name'] == 'African-American') | (asthma_df['Strata Name'] == 'White') | (asthma_df['Strata Name'] == 'Hispanic') | (asthma_df['Strata Name'] == 'American Indian/Alaskan Native') | (asthma_df['Strata Name'] == 'Asian/Pacific Islander'), ['Geography', 'Strata Name','Year', 'Rate']]
race_asthma_df = pd.DataFrame(race_asthma.groupby(['Strata Name', 'Year']).mean())
race_asthma_df.unstack(0).plot()
plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))
plt.ylabel("ED Visits for Asthma (per 10,000)")
plt.title("Hospital Visits for Asthma by Race")
plt.savefig('Images/asthmabyrace.png')

In [ ]:
age_asthma = asthma_df.loc[(asthma_df['Strata Name'] == 'Under 18') | (asthma_df['Strata Name'] == '18 and Over'), ['Geography', 'Strata Name','Year', 'Rate']]
age_asthma_df = pd.DataFrame(age_asthma.groupby(['Strata Name', 'Year']).mean())
age_asthma_df.unstack(0).plot()
plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))
plt.ylabel("ED Visits for Asthma (per 10,000)")
plt.title("Hospital Visits for Asthma by Age")
#plt.savefig('Images/asthmabyage.png')

In [ ]:
asthma_children_df = asthma_df.loc[(asthma_df['Strata'] == 'Total Population') & (asthma_df['Strata Name']=='Under 18'),:]
asthma_children_df = asthma_children_df.rename(columns={'Geography': 'County'})
asthma_children_df.head()

In [ ]:
asthma_adults_df = asthma_df.loc[(asthma_df['Strata'] == 'Total Population') & (asthma_df['Strata Name']=='18 and Over'),:]
asthma_adults_df = asthma_adults_df.rename(columns={'Geography': 'County'})
asthma_adults_df.head()

In [ ]:
asthma_df.loc[asthma_df['Strata Name']=='African-American',:]

In [ ]:
asthma_children_df = asthma_children_df[['Year', 'County', 'Rate']]
asthma_children_df.head()

In [ ]:
asthma_adults_df = asthma_adults_df[['Year', 'County', 'Rate']]
asthma_adults_df.head()

In [ ]:
asthma_children_group = pd.DataFrame(asthma_children_df.groupby(['Year', 'County']).mean()).reset_index()
asthma_children_group

In [ ]:
asthma_adults_group = pd.DataFrame(asthma_adults_df.groupby(['Year', 'County']).mean()).reset_index()
asthma_adults_group

In [ ]:
oa_children_df = pd.merge(ozone_group, asthma_children_group, on=['Year','County'])
oa_children_df

In [ ]:
oa_children_df.isnull().sum()

In [ ]:
oa_children_df = oa_df.dropna()

In [ ]:
oa_adults_df = pd.merge(ozone_group, asthma_adults_group, on=['Year','County'])
oa_adults_df

In [ ]:
oa_adults_df.isnull().sum()

In [ ]:
# ANOVA - Ozone (2011 to 2016)
ozone_2011 = list(oa_children_df.loc[oa_df['Year']==2011,:]['Ozone (ppb)'])
ozone_2012 = list(oa_children_df.loc[oa_df['Year']==2012,:]['Ozone (ppb)'])
ozone_2013 = list(oa_children_df.loc[oa_df['Year']==2013,:]['Ozone (ppb)'])
ozone_2014 = list(oa_children_df.loc[oa_df['Year']==2014,:]['Ozone (ppb)'])
ozone_2015 = list(oa_children_df.loc[oa_df['Year']==2015,:]['Ozone (ppb)'])
ozone_2016 = list(oa_children_df.loc[oa_df['Year']==2016,:]['Ozone (ppb)'])

In [ ]:
stats.f_oneway(ozone_2011, ozone_2012, ozone_2013, ozone_2014, ozone_2015, ozone_2016)

In [ ]:
# ANOVA - AQI (2011 to 2016)
aqi_2011 = list(oa_children_df.loc[oa_df['Year']==2011,:]['AQI'])
aqi_2012 = list(oa_children_df.loc[oa_df['Year']==2012,:]['AQI'])
aqi_2013 = list(oa_children_df.loc[oa_df['Year']==2013,:]['AQI'])
aqi_2014 = list(oa_children_df.loc[oa_df['Year']==2014,:]['AQI'])
aqi_2015 = list(oa_children_df.loc[oa_df['Year']==2015,:]['AQI'])
aqi_2016 = list(oa_children_df.loc[oa_df['Year']==2016,:]['AQI'])
stats.f_oneway(aqi_2011, aqi_2012, aqi_2013, aqi_2014, aqi_2015, aqi_2016)

In [ ]:
counties = oa_children_df['County'].unique()
counties

In [ ]:
# ANOVA - Counties (Mean Ozone)
ozone_dict = {}
for county in counties:
    if county not in ozone_dict:
        ozone_dict[county] = list(oa_children_df.loc[oa_df['County']==county,:]['Ozone (ppb)'])
        
print("ANOVA analysis comparing ozone concentration between two ounties in California ")
try:
    ozone_compare1 = input("Choose a county: ")
    ozone_compare2 = input("Choose another county: ")
    print(stats.f_oneway(ozone_dict[ozone_compare1], ozone_dict[ozone_compare2]))
    comparison_df = pd.DataFrame(oa_children_df.loc[(oa_children_df['County']==ozone_compare1) | (oa_children_df['County']==ozone_compare2),:])
    comparison_df.boxplot('Ozone (ppb)', by='County')
    plt.ylabel("Average Ozone (ppb) from 2011-2016")
except KeyError: 
    print("Could not find county")
#comparison_df.head()

In [ ]:
# ANOVA - Counties (Mean AQI)
aqi_dict = {}
for county in counties:
    if county not in aqi_dict:
        aqi_dict[county] = list(oa_df.loc[oa_children_df['County']==county,:]['AQI'])
try:
    aqi_compare1 = input("Choose a county: ")
    aqi_compare2 = input("Choose another county: ")
    print(stats.f_oneway(aqi_dict[aqi_compare1], aqi_dict[aqi_compare2]))
except KeyError: 
    print("Could not find county")

In [ ]:
# ANOVA - Counties (Raw AQI + Raw Ozone) for chosen year

year = input("Choose a year: ")
ozone_yr = all_ozone.loc[all_ozone['Year']==int(year), :]
o3aqi_dict = {}
for county in counties:
    if county not in o3aqi_dict:
        o3aqi_dict[county] = {}
        o3aqi_dict[county]['Ozone'] = list(ozone_yr.loc[ozone_yr['County Name']==county,:]['O3_ppb'])
        o3aqi_dict[county]['AQI'] = list(ozone_yr.loc[ozone_yr['County Name']==county,:]['AQI'])
#print(o3aqi_dict)
        
try:
    parameter = input("Choose a parameter (AQI or Ozone): ")
    compare1 = input("Choose a county: ")
    compare2 = input("Choose another county: ")
    
    print(f"ANOVA analysis comparing {parameter} between {compare1} and {compare2} in California in {year}")

    print(stats.f_oneway(o3aqi_dict[compare1][parameter], o3aqi_dict[compare2][parameter]))
    comparison_df = pd.DataFrame(ozone_yr.loc[(ozone_yr['County Name']==compare1) | (ozone_yr['County Name']==compare2),:])
    if parameter == 'AQI':
        comparison_df.boxplot(parameter, by='County Name')
    if parameter == 'Ozone':
        comparison_df.boxplot('O3_ppb', by='County Name')
    plt.ylabel(f"{parameter} in {year}")
except KeyError: 
    print("Could not find county")

In [ ]:
# 3D PLOT - AQI & Ozone vs Asthma Rates
test_df = oa_adults_df.loc[oa_adults_df['Year']==2011, :]
#test_df = oa_df.loc[oa_df['County']=='Inyo', :]
#test_df = oa_df.loc[:,:]  

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(test_df['AQI'], test_df['Ozone (ppb)'], test_df['Rate'])
plt.gca().invert_xaxis()
plt.gca().invert_yaxis()

ax.set_xlabel('AQI')
ax.set_ylabel('Ozone (ppb)')
ax.set_zlabel('Asthma Rates')

In [ ]:
# COMBINED (ADULTS + CHILDREN) AQI
years = ['2011', '2012', '2013', '2014', '2015', '2016']
color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}

for year in years:
    child_df = oa_children_df.loc[oa_children_df['Year']==int(year), :]
    adult_df = oa_adults_df.loc[oa_adults_df['Year']==int(year), :]
    
    (child_slope, child_intercept, child_r, _, _) = linregress(child_df['AQI'],child_df['Rate'])
    child_fit = child_slope * child_df['AQI'] + child_intercept
    
    (adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['AQI'],adult_df['Rate'])
    adult_fit = adult_slope * adult_df['AQI'] + adult_intercept
    
    f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    
    axarr[0].plot(child_df['AQI'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
    axarr[0].legend(loc="upper right")
    axarr[0].scatter(child_df['AQI'], child_df['Rate'], c='red')
    axarr[0].set_title(f'{year}')
    axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
    axarr[1].plot(adult_df['AQI'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
    axarr[1].legend(loc="upper right")
    axarr[1].scatter(adult_df['AQI'], adult_df['Rate'], c='blue')
    axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
    axarr[1].set_xlabel('AQI') 
    f.savefig(f'Images/aqivsasthma_{year}.png')

In [ ]:
# AQI ALL
#years = ['2011', '2012', '2013', '2014', '2015', '2016']
#color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}

child_df = oa_children_df.loc[:]
adult_df = oa_adults_df.loc[:]
    
(child_slope, child_intercept, child_r, _, _) = linregress(child_df['AQI'],child_df['Rate'])
child_fit = child_slope * child_df['AQI'] + child_intercept
    
(adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['AQI'],adult_df['Rate'])
adult_fit = adult_slope * adult_df['AQI'] + adult_intercept
    
f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    
axarr[0].plot(child_df['AQI'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
axarr[0].legend(loc="upper right")
axarr[0].scatter(child_df['AQI'], child_df['Rate'], c='red')
axarr[0].set_title(f'2011-2016')
axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
axarr[1].plot(adult_df['AQI'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
axarr[1].legend(loc="upper right")
axarr[1].scatter(adult_df['AQI'], adult_df['Rate'], c='blue')
axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
axarr[1].set_xlabel('AQI')
f.savefig(f'Images/aqivsasthma2011to2016.png')

In [ ]:
# COMBINED (ADULTS + CHILDREN) OZONE
years = ['2011', '2012', '2013', '2014', '2015', '2016']
color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}

for year in years:
    child_df = oa_children_df.loc[oa_children_df['Year']==int(year), :]
    adult_df = oa_adults_df.loc[oa_adults_df['Year']==int(year), :]
    
    (child_slope, child_intercept, child_r, _, _) = linregress(child_df['Ozone (ppb)'],child_df['Rate'])
    child_fit = child_slope * child_df['Ozone (ppb)'] + child_intercept
    
    (adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['Ozone (ppb)'],adult_df['Rate'])
    adult_fit = adult_slope * adult_df['Ozone (ppb)'] + adult_intercept
    
    f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    axarr[0].plot(child_df['Ozone (ppb)'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
    axarr[0].legend(loc="upper right")
    axarr[0].scatter(child_df['Ozone (ppb)'], child_df['Rate'], c='red', marker="^")
    axarr[0].set_title(f'{year}')
    axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
    axarr[1].plot(adult_df['Ozone (ppb)'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
    axarr[1].legend(loc="upper right")
    axarr[1].scatter(adult_df['Ozone (ppb)'], adult_df['Rate'], c='blue', marker="^")
    axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
    axarr[1].set_xlabel('Ozone (ppb)')    
    f.savefig(f'Images/ozonevsasthma_{year}.png')

In [ ]:
# OZONE ALL
#years = ['2011', '2012', '2013', '2014', '2015', '2016']
#color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}

child_df = oa_children_df.loc[:]
adult_df = oa_adults_df.loc[:]
    
(child_slope, child_intercept, child_r, _, _) = linregress(child_df['Ozone (ppb)'],child_df['Rate'])
child_fit = child_slope * child_df['Ozone (ppb)'] + child_intercept
    
(adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['Ozone (ppb)'],adult_df['Rate'])
adult_fit = adult_slope * adult_df['Ozone (ppb)'] + adult_intercept
    
f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    
axarr[0].plot(child_df['Ozone (ppb)'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
axarr[0].legend(loc="upper right")
axarr[0].scatter(child_df['Ozone (ppb)'], child_df['Rate'], c='red', marker="^")
axarr[0].set_title(f'2011-2016')
axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
axarr[1].plot(adult_df['Ozone (ppb)'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
axarr[1].legend(loc="upper right")
axarr[1].scatter(adult_df['Ozone (ppb)'], adult_df['Rate'], c='blue', marker="^")
axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
axarr[1].set_xlabel('Ozone (ppb)')
f.savefig(f'Images/aqivsozone2011to2016.png')

In [ ]:
pm25_df = pd.read_csv('Resources/CA_Counties_PM25_2011-2016.csv')
del pm25_df['Unnamed: 0']
pm25_df = pm25_df.rename(columns={"County Names": "County"})
pm25_df.head()

In [ ]:
pm25_a_2011 = oa_adults_df.loc[oa_adults_df['Year']==2011,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2011 PM2.5']], on='County', how='inner')
pm25_a_2011 = pm25_a_2011.rename(columns={"2011 PM2.5": "PM2.5"})
pm25_a_2012 = oa_adults_df.loc[oa_adults_df['Year']==2012,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2012 PM2.5']], on='County', how='inner')
pm25_a_2012 = pm25_a_2012.rename(columns={"2012 PM2.5": "PM2.5"})
pm25_a_2013 = oa_adults_df.loc[oa_adults_df['Year']==2013,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2013 PM2.5']], on='County', how='inner')
pm25_a_2013 = pm25_a_2013.rename(columns={"2013 PM2.5": "PM2.5"})
pm25_a_2014 = oa_adults_df.loc[oa_adults_df['Year']==2014,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2014 PM2.5']], on='County', how='inner')
pm25_a_2014 = pm25_a_2014.rename(columns={"2014 PM2.5": "PM2.5"})
pm25_a_2015 = oa_adults_df.loc[oa_adults_df['Year']==2015,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2015 PM2.5']], on='County', how='inner')
pm25_a_2015 = pm25_a_2015.rename(columns={"2015 PM2.5": "PM2.5"})
pm25_a_2016 = oa_adults_df.loc[oa_adults_df['Year']==2016,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2016 PM2.5']], on='County', how='inner')
pm25_a_2016 = pm25_a_2016.rename(columns={"2016 PM2.5": "PM2.5"})

pm25_c_2011 = oa_children_df.loc[oa_children_df['Year']==2011,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2011 PM2.5']], on='County', how='inner')
pm25_c_2011 = pm25_c_2011.rename(columns={"2011 PM2.5": "PM2.5"})
pm25_c_2012 = oa_children_df.loc[oa_children_df['Year']==2012,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2012 PM2.5']], on='County', how='inner')
pm25_c_2012 = pm25_c_2012.rename(columns={"2012 PM2.5": "PM2.5"})
pm25_c_2013 = oa_children_df.loc[oa_children_df['Year']==2013,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2013 PM2.5']], on='County', how='inner')
pm25_c_2013 = pm25_c_2013.rename(columns={"2013 PM2.5": "PM2.5"})
pm25_c_2014 = oa_children_df.loc[oa_children_df['Year']==2014,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2014 PM2.5']], on='County', how='inner')
pm25_c_2014 = pm25_c_2014.rename(columns={"2014 PM2.5": "PM2.5"})
pm25_c_2015 = oa_children_df.loc[oa_children_df['Year']==2015,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2015 PM2.5']], on='County', how='inner')
pm25_c_2015 = pm25_c_2015.rename(columns={"2015 PM2.5": "PM2.5"})
pm25_c_2016 = oa_children_df.loc[oa_children_df['Year']==2016,['Year','County', 'Rate']].merge(pm25_df.loc[:,['County','2016 PM2.5']], on='County', how='inner')
pm25_c_2016 = pm25_c_2016.rename(columns={"2016 PM2.5": "PM2.5"})

In [ ]:
pm25_a_2016

In [ ]:
# COMBINED (ADULTS + CHILDREN) PM2.5
years = ['2011', '2012', '2013', '2014', '2015', '2016']
#dfs = [pm25_c_2011, pm25_c_2012, pm25_c_2013, pm25_c_2014, pm25_c_2015, pm25_c_2016]
df_dict = {'2011': [pm25_c_2011, pm25_a_2011],
          '2012': [pm25_c_2012, pm25_a_2012],
          '2013': [pm25_c_2013, pm25_a_2013],
          '2014': [pm25_c_2014, pm25_a_2014],
          '2015': [pm25_c_2015, pm25_a_2015],
          '2016': [pm25_c_2016, pm25_a_2016],}

color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}

for year in years:
    child_df = df_dict[year][0].loc[:]
    adult_df = df_dict[year][1].loc[:]
    
    (child_slope, child_intercept, child_r, _, _) = linregress(child_df['PM2.5'],child_df['Rate'])
    child_fit = child_slope * child_df['PM2.5'] + child_intercept
    
    (adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['PM2.5'],adult_df['Rate'])
    adult_fit = adult_slope * adult_df['PM2.5'] + adult_intercept
    
    f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    axarr[0].plot(child_df['PM2.5'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
    axarr[0].legend(loc="upper right")
    axarr[0].scatter(child_df['PM2.5'], child_df['Rate'], c='red', marker='s')
    axarr[0].set_title(f'{year}')
    axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
    axarr[1].plot(adult_df['PM2.5'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
    axarr[1].legend(loc="upper right")
    axarr[1].scatter(adult_df['PM2.5'], adult_df['Rate'], c='blue', marker='s')
    axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
    axarr[1].set_xlabel('PM2.5')    
    f.savefig(f'Images/pm25vsasthma_{year}.png')

In [ ]:
# PM2.5 ALL
#years = ['2011', '2012', '2013', '2014', '2015', '2016']
#color_years = {'2011': '#70a1ff', '2012': '#7bed9f', '2013': '#ff6b81', '2014': '#a29bfe', '2015': '#ffbe76', '2016': '#7ed6df'}
adults_pm25 = [pm25_a_2011, pm25_a_2012, pm25_a_2013, pm25_a_2014, pm25_a_2015, pm25_a_2016]
child_pm25 = [pm25_c_2011, pm25_c_2012, pm25_c_2013, pm25_c_2014, pm25_c_2015, pm25_c_2016]
all_pm25_a = pd.concat(adults_pm25, sort=False)
all_pm25_c = pd.concat(child_pm25, sort=False)
all_pm25_a

In [ ]:
child_df = all_pm25_c.loc[:]
adult_df = all_pm25_a.loc[:]
    
(child_slope, child_intercept, child_r, _, _) = linregress(child_df['PM2.5'],child_df['Rate'])
child_fit = child_slope * child_df['PM2.5'] + child_intercept
    
(adult_slope, adult_intercept, adult_r, _, _) = linregress(adult_df['PM2.5'],adult_df['Rate'])
adult_fit = adult_slope * adult_df['PM2.5'] + adult_intercept
    
f, axarr = plt.subplots(2, sharex=True, figsize=(7, 7))
    
axarr[0].plot(child_df['PM2.5'], child_fit, c='#30336b', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(child_slope, child_intercept, child_r))
axarr[0].legend(loc="upper right")
axarr[0].scatter(child_df['PM2.5'], child_df['Rate'], c='red', marker='s')
axarr[0].set_title(f'2011-2016')
axarr[0].set_ylabel("\n".join(wrap("Rate of Under 18 ED Visits for Asthma (per 10,000)", 30)))
    
axarr[1].plot(adult_df['PM2.5'], adult_fit, c='#130f40', linewidth=3, label='y={:.2f}x+{:.2f}\nR-value: {:.2f}'.format(adult_slope, adult_intercept, adult_r))
axarr[1].legend(loc="upper right")
axarr[1].scatter(adult_df['PM2.5'], adult_df['Rate'], c='blue', marker='s')
axarr[1].set_ylabel("\n".join(wrap("Rate of Over 18 ED Visits for Asthma (per 10,000)", 30)))
axarr[1].set_xlabel('PM2.5')
f.savefig(f'Images/aqivspm252011to2016.png')